<script>
	import CreateCampaign from './CreateCampaign.svelte';
	import ListCampaign from './ListCampaign.svelte';
    import {Route,router} from 'tinro';
    


</script>

<div class="h "> 
    <div class="h-screen   has-pointer-event  overflow-y-auto" style="z-index : -100">
        <Route path="/campaigns" ><ListCampaign></ListCampaign></Route> 
<Route path="/campaigns/create" ><CreateCampaign></CreateCampaign></Route> 
    </div>

</div>
