 <script>
	import DropdownMenu from './../components/DropdownMenu.svelte';
	import ListView from './../components/ListView.svelte'; 
   import {
     slide
   } from 'svelte/transition';

   import {
     meta,
     router
   } from 'tinro';
   import {
     db
   } from "../lib/db";
    import Modal from '../components/Modal.svelte'; 
    import ImportCsv from '../components/ImportCSV.svelte';
    import ExportCsv from '../components/ExportCSV.svelte';

    let active_list = {}
    let FABvisible = false;
   let visible = false;
   let csvText;
   let ExportModalVisible = false;
    let list_id = "";
   let modalVisible = false;
    let show_empty = false;
   let contacts = []
   let loading = false;
   let contact_views = []
   async function load() {
     //
     // Query Dexie's API
     // 
     list_id = meta().params.list_id

     active_list = await db.lists.get(parseInt(list_id));

     if(active_list.contacts.length)
     {
        loading = true;
     }

     const lists = await db.contacts.where({
       list_id: list_id
     }).toArray();


     if (lists.length) {
       show_empty = false;
     } else {
       show_empty = true;
     }  
     contacts = lists; 
     loading = false;
     // Return result

   }
     async function SyncData(){
       
      contacts = await db.contacts.where({
         list_id: list_id
       }).toArray();;

       if(contacts.length)
       {
        show_empty = false;
       }

       db.lists.update(parseInt(list_id), {
         contacts: contacts.length
       }).then(function (updated) {
         if (updated)
           console.log("lists updated"); 
       });

   }
   load()

   let newData = {
     name: "",
     phone: ""
   }
   import {
     validatePhone
   } from "../lib/helper"
   import {
     v5
   } from "uuid"
   async function saveNewContact() {
     modalVisible = false;
     show_empty = false;
     try {

       // Add the new friend! 
       newData.wa_phone = validatePhone(newData.phone)
       newData.uid = v5(newData.wa_phone + list_id, v5.DNS)
       newData.list_id = list_id;
       newData.created_at = Date.now()

       await db.contacts.add(newData);
       newData = {
         name: "",
         phone: ""
       }

       SyncData()


     } catch (error) {
       console.log(error)
     }

   }

   
 
function ReadFile(e)
{
 
  var reader = new FileReader();
        reader.onload = function () {
          e.target.value = ''
          visible = true; 
          csvText = reader.result; 
        };
        // start reading the file. When it is done, calls the onload event defined above.
        if(e.target.files[0])
        reader.readAsBinaryString(e.target.files[0]);
 
}
function pickFiles(){
  
document.querySelector("#upload-file").click()
}


let contactEditModal = false;
let contactEdit;
let DropdownVisible = false;
function editContact(contact)
{
  contactEditModal = true;
  contactEdit = contact; 
  const evt = new CustomEvent("dropdown-item-click");
    document.dispatchEvent(evt);
}
async  function saveContactEdit()
{ 
    db.contacts.update(contactEdit.uid, contactEdit);
  contactEditModal = false;
  contacts = contacts;   

}

  async function deleteContact(contact,i){ 
      db.contacts.where({uid : contact.uid}).delete()
  contacts.splice(i,1)
  contacts = contacts;   
  const evt = new CustomEvent("dropdown-item-click");
    document.dispatchEvent(evt);
  
}

async function DeleteList(){
  
  await db.lists.where({id : parseInt(list_id)}).delete()
  await db.contacts.where({
         list_id: list_id
       }).delete();;
        
        router.goto("/")
}

 </script>
 <input type="file" class="hidden" id="upload-file" on:change="{ReadFile}">
 {#if show_empty}
<div class="h-screen flex justify-center items-center  ">
  Belum ada Kontak    
  </div>
{/if} 
 
<ListView bind:seeds="{contacts}" {loading} bind:items="{contact_views}" >
  <ul   class="divide-y divide-gray-200">
    {#each contact_views as item,i  }
      <li class="relative   py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
        <div class="flex justify-between space-x-3">
          <div class="min-w-0 flex-1">
            <div class="block has-pointer-event focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900 truncate">{item.name}</p>
              <p class="text-sm text-gray-500 truncate">{item.phone}</p>
            </div>
          </div>
          <div  >
            <DropdownMenu  >
              <span slot="button" class="flex text-gray-400 z-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 z-0" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                </svg>
              </span> 
            <div slot="list" class="bg-white z-20" >
              <div on:click="{()=>{editContact(item)}}" class="cursor-pointer hover:bg-gray-100 text-gray-700 block px-4 py-2 text-sm" role="menuitem" >Edit</div>
              <div on:click="{()=>{deleteContact(item,i)}}" class="cursor-pointer hover:bg-gray-100 text-gray-700 block px-4 py-2 text-sm" role="menuitem"  >Hapus</div>
            </div>
            </DropdownMenu>
          </div>
        </div> 
      </li> 
      {/each} 
      <!-- More messages... -->
    </ul>
</ListView>

<div class=" fixed  bottom-20 right-4 ">
    {#if FABvisible} 
    <button transition:slide  on:click="{()=>{DeleteList()}}"   class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12 mb-1  z-20"><span class="h-1em w-1em text-icon-ios">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
  </span></button>
    <button transition:slide  on:click="{()=>{ExportModalVisible = true}}"   class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12 mb-1  z-20"><span class="h-1em w-1em text-icon-ios">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />
          </svg>
    </span></button>
    <button transition:slide  on:click="{pickFiles}"  class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12 mb-1  z-20"><span class="h-1em w-1em text-icon-ios">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
          </svg>
    </span></button>
    <button transition:slide  on:click="{()=>{modalVisible = true}}"  class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12 mb-1  z-20"><span class="h-1em w-1em text-icon-ios">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
    </span></button>
    {/if}
    <button on:click="{()=>{FABvisible = !FABvisible}}"  class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12   z-20"><span class="h-1em w-1em text-icon-ios">
        {#if FABvisible}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        {:else}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
        {/if}
    </span></button>
</div>
 
<Modal bind:visible="{modalVisible}" modalTitle={`Tambah Kontak Baru`} 
on:close-modal="{()=>{modalVisible = false}}">
<div class="form-control">
  <label for="" class="label">
    <span class="label-text">Nama</span>
  </label> 
  <input type="text" bind:value="{newData.name}" name="name" placeholder="Nama" class="input input-bordered">
</div> 
<div class="form-control mt-3">
    <label for="" class="label">
      <span class="label-text">No.Whatsapp</span>
    </label> 
    <input bind:value="{newData.phone}" name="phone" type="text" placeholder="081351xxxxxx" class="input input-bordered">
  </div> 
  <div class="mt-3 text-right">
    <button on:click="{saveNewContact}" class="btn btn-primary">Simpan</button> 
  </div>
</Modal>
<ImportCsv  {list_id} on:done="{()=>{SyncData()}}" bind:visible={visible} {csvText}></ImportCsv>
<ExportCsv bind:visible="{ExportModalVisible}" {contacts} {active_list} ></ExportCsv>
<Modal bind:visible={contactEditModal}
modalTitle={`Edit Kontak`}  styleSheet="width : 500px;max-width: 100vw;"
on:close-modal="{()=>{contactEditModal = false}}"
 > 
 {#each Object.keys(contactEdit) as key}
  {#if !['list_id','id','phone_idx','updated_at'].includes(key)}
  <div class="mt-3">
    <label for="{key}" class="block text-sm font-medium text-gray-500">{key}</label>
    <div class="mt-1">
      <input id="{key}" placeholder="{key}"  type="text" bind:value="{contactEdit[key]}"   class="block w-full bg-gray-2000 placeholder:text-gray-300 text-gray-500 shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
    </div>
   </div>
  {/if}

 {/each}
 <button on:click="{saveContactEdit}" class="mt-5 cursor-pointer inline-flex w-full justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Simpan</button>
</Modal>