<script>
      
 
    import { onDestroy, onMount } from 'svelte';
import { createEventDispatcher } from "svelte"; 
import { db } from "../lib/db";
import dayjs from 'dayjs';  
import Messages from '../components/Messages.svelte';
import BatchSending from '../components/BatchSending.svelte';
import { router,meta } from 'tinro';
const dispatchEvent = createEventDispatcher();

 function generateMessage(){
     return { type : "text", text : "", file : "", filename : "", mimeType : "text/plain" }
 }

let lists = [];

let error = ''

let unsubscribeText = '';
let unsubscribeButtonText = 'Unsubscribe';


let send_at = dayjs().add(5,'minutes').format('YYYY-MM-DDTHH:mm');
let batch_list = [{send_at : send_at, quantity : 100}]

let campaign = {  
    title : '',
    status : 'waiting', 
    list_id : '', 
    batch_sending : false,
    progress : 0,
    total : 0,
    progress_msg : 0,
    batch_quantity : 100,
    send_progress : 0,
    send_total : 0,
    wa_package : "com.whatsapp",
    rule : 'kirim ke semua',
    min_next_contact : 10000,
    max_next_contact : 14000,
    min_next_message : 2000,
    max_next_message : 5000,
    messages : [],
    contacts : []
}
// rules
// kirim ke semua
// kirim ke nomor baru
// kirim ke yang belum baca
// kirim ke yang pernah baca
// kirim ke yang pernah balas
// 

 
 
let messages = [generateMessage()];

function addMessage()
{
    messages = [...messages,generateMessage()]
} 


async function fetchContacts()
{
  
  if(campaign.list_id.toString())
  {
    const contacts = await db.contacts.where({
       list_id: campaign.list_id.toString()
     }).toArray(); 
  campaign.contacts = contacts;
  campaign.total = contacts.length;
  }


   
}



async function saveCampaign(){


  console.log(campaign)
  if(campaign.total == 0)
  {
    error = 'Kontak Penerima belum ada'
    return ;
  }

  messages = messages.filter(item=>{
    return item.file || item.text;
  })

  if(messages.length == 0)
  {
    error = 'Pesan belum ada'
    messages = [{type : "text", text : "", file : ""}]
    return ;
  }  

    if(campaign.batch_sending)
    {
      
   
      campaign.current_batch = 0
      campaign.batch_counter = 0 
    }
  

    campaign.send_total = messages.length * campaign.total;

  

    campaign.messages = messages;
    campaign.created_at = Date.now()

    if(campaign.id)
    {
        await db.campaigns.update(campaign.id, campaign);
        router.goto("/campaigns/detail/"+campaign.id)
    }else{
      const id = await db.campaigns.add(campaign);
      router.goto("/campaigns/detail/"+id)
    }
   

   
    

    
 
 
}

onDestroy(()=>{  

})

async function initEditOrReuse(id,action){
  if(id && action)
    {
      campaign = await db.campaigns.get(parseInt(id));
      messages = campaign.messages;
      
      if(action == 'reuse')
      {
          delete  campaign.id

          campaign.progress = 0;
          campaign.send_progress = 0;
          campaign.progress_msg  = 0;  
          campaign.status = 'waiting';

        
      }
      fetchContacts()
     
      
      
    }
 
}
if(meta().params.campaign_id)
{
  if(meta().match.includes("/campaigns/edit"))
  {
    // edit
    initEditOrReuse(meta().params.campaign_id,"edit")
  }else{
    // reuse
    initEditOrReuse(meta().params.campaign_id,"reuse")
  }
}

onMount(async () => {
     
 
  const fetch = await db.lists.toArray();  

 
    // Return result
    lists = fetch.reverse();;
    
    
    

})


function onChange(event) {
		campaign.wa_package = event.currentTarget.value;
	}
 
</script>
 
<div class="  overflow-y-auto p-3" >
    <div class="mt-6   grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
          
    
        <div class="sm:col-span-2">
          <label for="title" class="block text-sm font-medium text-gray-500">Title</label>
          <div class="mt-1">
            <input id="title" placeholder="Title" name="title" type="text" bind:value="{campaign.title}"   class="block w-full bg-gray-2000 placeholder:text-gray-300 text-gray-500 shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div> 
        <BatchSending    bind:campaign="{campaign}"></BatchSending>
        <div class="sm:col-span-2">
          <label for="list" class="block text-sm font-medium text-gray-500">List Penerima</label>
          <div class="mt-1">
           <select name="" id="" bind:value="{campaign.list_id}" on:change="{fetchContacts}" class="block w-full bg-gray-2000 text-gray-500 shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
             <option value="" disabled>belum dipilih</option>
              {#each lists as list, i}
               <option  value="{list.id}">{list.title} - {list.contacts} kontak</option>
               {/each}
           </select>
          </div>
        </div>
       
        <div>
          <label for="min_next_message" class="block text-sm font-medium text-gray-500">Min Time Next Msg</label>
          <div class="mt-1">
            <input type="number"   bind:value="{campaign.min_next_message}" class="bg-gray-2000 text-gray-500 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div>
          <label for="max_next_message" class="block text-sm font-medium text-gray-500">Max Time Next Msg</label>
          <div class="mt-1">
            <input type="number" bind:value="{campaign.max_next_message}"  autocomplete="family-name" class="bg-gray-2000 text-gray-500 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div>
          <label for="min_next_message" class="block text-sm font-medium text-gray-500">Min Time Next Contact</label>
          <div class="mt-1">
            <input type="number"   bind:value="{campaign.min_next_contact}" class="bg-gray-2000 text-gray-500 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        <div>
          <label for="max_next_message" class="block text-sm font-medium text-gray-500">Max Time Next Contact</label>
          <div class="mt-1">
            <input type="number" bind:value="{campaign.max_next_contact}"  autocomplete="family-name" class="bg-gray-2000 text-gray-500 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          </div>
        </div>
        
        {#each messages as message,i}
        <div class="sm:col-span-2">
        <Messages bind:actions="{messages}"  bind:action="{message}" {i}></Messages>
        </div>
        {/each}
       <div class="sm:col-span-2" >
        <div class="flex justify-center">
          <button class="underline" on:click="{addMessage}">Tambah Pesan</button>
        </div>
       </div>
    
        <div class="sm:col-span-2">
          <label for="list" class="block text-sm font-medium text-gray-500 mb-1">Pilih Whatsapp</label>
        
          <div class="p-6 border">
            
            <div class="form-control">
              <label class="cursor-pointer label">
                <span class="label-text">Whatsapp</span> 
                <input type="radio" name="whatsapp" checked={campaign.wa_package==="com.whatsapp"}  on:change={onChange}  class="radio  " value="com.whatsapp">
              </label>
            </div> 
            <div class="form-control">
              <label class="cursor-pointer label">
                <span class="label-text">Whatsapp Bisnis</span> 
                <input type="radio" name="whatsapp" checked={campaign.wa_package==="com.whatsapp.w4b"} on:change={onChange} class="radio  " value="com.whatsapp.w4b">
              </label>
            </div> 
             
          </div>
        </div>
        <div class="sm:col-span-2" >
          {#if error}
        <div class="rounded-md bg-red-50 p-4  ">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: solid/x-circle -->
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">
                {error}
              </h3>
               
            </div>
          </div>
        </div>
        {/if}
        </div>
       
        
        <div class="sm:col-span-2 flex gap-2">
      
          <btn  on:click="{saveCampaign}" class="cursor-pointer inline-flex w-full justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Simpan Campaign
          </btn>
        </div>
      
      </div>
</div>
