<script>
	import ListView from './../components/ListView.svelte';
	import Modal from './../components/Modal.svelte';
    import {
        db
    } from '../lib/db';
    
    import {Whatsapp} from "../../whatsapp"
    import {
        meta, router
    } from 'tinro';

    import GaugeChart from './../components/GaugeChart.svelte';
import { onDestroy, onMount } from 'svelte';
import { getTimeLong } from '../lib/helper';

    let loading = true;
    let visible = false;
    let sendPercent = 0;
    let contacts = []
    const campaign_id = meta().params.campaign_id;

    let campaign = {
        contacts : [],
        messages : []
    }
    async function init() {
        let fetch = await db.campaigns.get(parseInt(campaign_id))
        if (fetch) {
            campaign = fetch;
            loading = false;
            sendPercent = Math.floor(campaign.send_progress / campaign.send_total * 100);
        }
    }
    init()
    async function Send(){
        if(campaign.status == 'done')
        {
            alert("campaign telah selesai")
            return;
        }

        const check = await Whatsapp.checkAccesibility();

        if(check.enabled == false)
        {
          visible = true;
          return;
        }
        
        const event = new Event('campaign');
        
        event.message = campaign;

        document.querySelector("#hub").dispatchEvent(event);
 
    }

    function Delete(){
        const event = new Event('campaign');
        
        event.message = {};

        document.querySelector("#hub").dispatchEvent(event);

        db.campaigns.where({id : parseInt(campaign_id)}).delete()
        
        router.goto("/campaigns")
    }

    function CampaignListener(e){

        if(e.message.id == campaign.id)
        {
            campaign = e.message; 

            sendPercent = Math.floor(campaign.send_progress / campaign.send_total * 100);
        }
       
    }
    onMount(()=>{
        document.querySelector("#hub").addEventListener("broadcast",CampaignListener)
    })

    onDestroy(()=>{
        document.querySelector("#hub").removeEventListener("broadcast",CampaignListener)
    })

    function openSetting(){
        Whatsapp.openMap();
        visible = false;
    }
    
</script>
<div>
   
 
    <div class="    mx-auto  p-3 ">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-2 flex gap-1"> 
{#if campaign.status != 'done'}
<button on:click="{Send}" class="btn btn-primary">Kirim</button> 
{/if}
<button on:click="{Delete}" class="btn btn-secondary">Hapus</button> 
<a href="/campaigns/reuse/{campaign.id}"   class="btn btn-accent">Reuse</a>  
<a href="/campaigns/edit/{campaign.id}" class="btn btn-success">Edit</a>  
            </div>
            <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Title Campaign
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                 {campaign.title}
                </dd>
              </div>

          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Dikirim Pada
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {getTimeLong(campaign.send_at)}
            </dd>
          </div>

          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Total Penerima
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {campaign.total} kontak
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Status
            </dt>
            <dd class="mt-1 text-sm text-gray-900"> 
                <span class=" inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium {campaign.status == 'stop' ? 'bg-red-600 text-white' : ' bg-green-100 text-green-800'}  ">{campaign.status}</span>
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Progres Pesan
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {campaign.send_progress} / {campaign.send_total} ({sendPercent}%)
            </dd>
          </div>
 

          

          <div class="sm:col-span-2">
              <dt class="text-sm font-medium text-gray-500">
                Daftar Pesan
              </dt>
              {#each campaign.messages as message }
                <div>
                  <div class="px-4 py-5 mt-2 bg-white   rounded-lg border overflow-hidden sm:p-6">
                    <dt class="   text-gray-500 truncate">
                      {message.text}
                    </dt> 
                    {#if message.file}
                      
                   
                    <div class="sm:col-span-2 mt-2">
                      <dt class="text-sm font-medium text-gray-500">
                        Attachments
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900">
                        <ul   class="border border-gray-200 rounded-md divide-y divide-gray-200">
                          <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                            <div class="w-0 flex-1 flex items-center">
                              <!-- Heroicon name: solid/paper-clip -->
                              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                              </svg>
                              <span class="ml-2 flex-1 w-0 truncate">
                                {message.filename}
                              </span>
                            </div>
                             
                          </li>
                 
                        </ul>
                      </dd>
                    </div>
                    {/if}
                  </div>
              
                </div>
              {/each}
          </div>

          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">
              Kontak
            </dt>
            <ListView bind:seeds="{campaign.contacts}" {loading} bind:items="{contacts}" >
            <ul class="divide-y divide-gray-300   " > 
          
                {#each contacts as contact, i}
                <li class="py-4 flex justify-between">
                
                  <div class="">
                    <p class="text-sm font-medium text-gray-500 flex">{contact.name}   
                     
                      </p>
                    <p class="text-sm text-gray-400 flex">{contact.phone} </p>
                  </div>
                  <div>
                    {#if i<campaign.progress}
                      
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                      </svg>
                      {/if}
                  </div>
                </li>
                {/each}
              </ul>
            </ListView>
          </div>
          
        </dl>
      </div>

</div>
<Modal bind:visible={visible}
modalTitle="Accesibility Service"
on:close-modal="{()=>{visible = false}}"
 >
 <div class="mt-2 max-w-xl text-sm text-gray-500 placeholder:text-gray-300 pt-3">
    <p>
     Mohon Aktifkan Accesibility Service untuk kelancaran proses pengiriman pesan Whatsapp secara otomatis.
    </p> 
  <div class="mt-3">
    <button on:click="{openSetting}" class="btn btn-primary">Buka Pengaturan</button> 
  </div>

  </div> 
</Modal>