<script> 
        import {Whatsapp} from "../../whatsapp"
 let data;
 let meta;

 
  function GrabbContact(){
      Whatsapp.grabbing({wa_package : "com.whatsapp"})
  }
  async function CheckGrabb(){
     const content  = await Whatsapp.checkgrabbing();
    // let array = content.logs.split(";;;+");
    // meta = array.shift() 
    data = content.logs;
  }
</script>
<div>
    <button on:click="{GrabbContact}">Grabb</button>
    <button on:click="{CheckGrabb}">CheckGrabb</button>
     { data}
</div>