<script>
import Modal from '../components/Modal.svelte';
import { db } from "../lib/db"; 
import dayjs from "dayjs"
import relativeTime from  'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)

  let visible = false;
  // $: lists = liveQuery();
  let lists = []

  let init = async () => { 

    const fetch = await db.lists.toArray();  
    
    if(fetch.length)
    {
      show_empty = false;
    }else{
      show_empty = true;
    }
    // Return result
    lists = fetch.reverse();;
  }

  init()
  
  let new_list = ""
  let show_empty = false;
 
  async function saveNewList()
  {
    const newData = {title : new_list,contacts : 0, created_at : Date.now()}
    visible = false;
    new_list = ""
    show_empty = false;
    try {

// Add the new friend!

      const id = await db.lists.add(newData);
      newData.id = id;
      // lists.unshift(newData)
      lists = [newData,...lists]


 
 
  } catch (error) { 
  }

  }
 
</script>
{#if show_empty}
<div class="h-screen flex justify-center items-center  ">
  Belum ada List   
  </div>
{/if}

<div  class="  relative">
    <ul   class="divide-y divide-gray-200">
      {#if  true}
      {#each lists as item}
        <li class="relative  py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <div class="flex justify-between space-x-3">
            <div class="min-w-0 flex-1">
              <a href="/lists/{item.id}" class="block     focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium   truncate">{item.title}</p>
                <p class="text-sm  text-gray-500 truncate">{item.contacts}</p>  
              </a>
            </div>
            <time   class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500  ">{dayjs(item.created_at).fromNow() }</time>
          </div> 
        </li> 
        {/each}
        {/if}
        <!-- More messages... -->
      </ul>
      <div class=" fixed  bottom-32 right-16 ">
        <button on:click="{()=>{visible = true}}" class="bg-primary has-pointer-event active:bg-primary-dark text-white flex items-center justify-center space-x-2 rounded-full shadow-lg cursor-pointer overflow-hidden select-none h-12 duration-100 w-12 fixed right-4-safe bottom-4-safe z-20"><span class="h-1em w-1em text-icon-ios"><svg fill="currentcolor" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 56 56"><path d="M 27.9883 47.7344 C 29.1367 47.7344 30.0976 46.8203 30.0976 45.6953 L 30.0976 30.1094 L 45.2383 30.1094 C 46.3633 30.1094 47.3476 29.1484 47.3476 28 C 47.3476 26.8516 46.3633 25.9141 45.2383 25.9141 L 30.0976 25.9141 L 30.0976 10.3047 C 30.0976 9.1797 29.1367 8.2656 27.9883 8.2656 C 26.8398 8.2656 25.9024 9.1797 25.9024 10.3047 L 25.9024 25.9141 L 10.7617 25.9141 C 9.6367 25.9141 8.6524 26.8516 8.6524 28 C 8.6524 29.1484 9.6367 30.1094 10.7617 30.1094 L 25.9024 30.1094 L 25.9024 45.6953 C 25.9024 46.8203 26.8398 47.7344 27.9883 47.7344 Z"></path></svg></span></button>
    </div>
</div>
 
<Modal bind:visible="{visible}" modalTitle={`Buat List Baru`} 
on:close-modal="{()=>{visible = false}}">
<div class="form-control">
  <label for="" class="label">
    <span class="label-text">List Baru</span>
  </label> 
  <div class="relative">
    <input bind:value="{new_list}" type="text" placeholder="Ketik Nama List" class="w-full pr-16 input input-primary input-bordered"> 
    <button on:click="{saveNewList}" class="absolute top-0 right-0 rounded-l-none btn btn-primary">Simpan</button>
  </div>
</div> 
</Modal>