<script>
	import Modal from './../components/Modal.svelte';
    import {
        Whatsapp
    } from "../../whatsapp"
import auth from '../lib/auth';
import { onMount } from 'svelte';

    let registerModal = false;

    let noLicense = true;

    function openSetting() {
        Whatsapp.openMap()
    } 

    let access_code = ""

    let errorMessage = ""

    async function RegisterLicense() {
      if(access_code)
      {
        try {
          const response = await auth.Register(access_code)

           if(response.data)
           {
             registerModal = false;
             noLicense = false
           }else{
             errorMessage = response.error;
           }
        } catch (error) {  
          // alert("errog gys")
        }
      }
        
    } 

    onMount(()=>{
      if(auth.getLicense() == "full access")
      {
        noLicense = false
      }
    })

   
    
</script> 

<div  class="  relative">
    <ul   class="divide-y divide-gray-200">
 
        <li on:click="{openSetting}" class="relative  cursor-pointer py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <div class="flex justify-between space-x-3">
            <div class="min-w-0 flex-1">
              <div class="block   has-pointer-event focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium   truncate">Accesibility Service</p> 
                <p class="text-sm text-gray-500  truncate">wajib diaktifkan</p>
              </div>
            </div>
            <div  class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
            </div>
          </div> 
        </li> 
        {#if noLicense}
        <li on:click="{()=>{registerModal = true;}}" class="relative  cursor-pointer py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <div class="flex justify-between space-x-3">
            <div class="min-w-0 flex-1">
              <div class="block   has-pointer-event focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium   truncate">Masukan License</p> 
                <p class="text-sm text-gray-500  truncate">hilangkan watermark pesan dengan masukan kode license</p>
              </div>
            </div>
            <div  class="flex-shrink-0 whitespace-nowrap text-sm  ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
            </div>
          </div> 
        </li> 
        {/if} 
        
         
        <!-- More messages... -->
      </ul>
    
</div>
 
<Modal bind:visible="{registerModal}" modalTitle={`Masukan Kode License`} 
on:close-modal="{()=>{registerModal = false}}">

<div class="form-control">
 
  <div class="relative">
    <input bind:value="{access_code}" type="text" placeholder="XXXXXX" class="w-full pr-16 input input-primary input-bordered"> 
    <button on:click="{RegisterLicense}" class="absolute top-0 right-0 rounded-l-none btn btn-primary">Register</button>
  </div>
  <small class="label-text mt-2">dapatkan kode license di <a class="underline text-primary" href="https://maxgrabb.com" target="_blank">maxgrabb.com</a></small>
</div> 
{#if errorMessage}
<div class="alert alert-error mt-3">
  <div class="flex-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">    
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>                      
    </svg> 
    <span>{errorMessage}</span>
  </div>
</div>

{/if}
</Modal>