<script> 
    export let campaign; 
  
</script> 
<div class=" sm:col-span-2">

  <div class="flex items-center   justify-between">
    <span class="flex-grow flex flex-col">
      <span class="text-sm font-medium text-gray-600" >Batch Sending</span>
      <span class="text-sm text-gray-400"  >Kirim pesan dengan beberapa kloter pengiriman</span>
    </span>
    <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
    <button type="button" on:click="{()=>{campaign.batch_sending = !campaign.batch_sending}}" class="{campaign.batch_sending ? 'bg-indigo-600' : 'bg-gray-200'}  relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
      <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
      <span aria-hidden="true" class="{campaign.batch_sending ? 'translate-x-5' : 'translate-x-0'}   pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>
  </div>

 
</div>

{#if campaign.batch_sending}
<div class="sm:col-span-2">
  <div>
    <label for="Datetime" class="block text-sm font-medium text-gray-500">Quantity per Batch</label>
<div class="mt-1">
  <input  type="number"  bind:value="{campaign.batch_quantity}"   class="block w-full   text-gray-500 shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
</div>
</div>
</div>
{/if}

 
  