<script>
  import { clickOutside } from "../lib/helper";
  
   
        export let visible = false; 
 
        document.addEventListener("dropdown-item-click", ()=>{
          visible = false; 
        }, true);
        
        
   </script>
 
<div class=" " use:clickOutside on:click_outside="{()=>{visible = false}}">
  <div class="relative inline-block text-left ">
    <div>
   
     
        <button   on:click="{()=>{visible = !visible}}" type="button" class="inline-flex justify-center w-full     py-2   text-sm font-medium text-gray-700   focus:outline-none   " id="menu-button" aria-expanded="true" aria-haspopup="true">
          <slot name="button"></slot>
      </button>
    </div>
   
    <div class="{visible ? "transform opacity-100 scale-100" : "transform opacity-0 hidden scale-95" } z-10 origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none transition  transition-opacity" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div  class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <slot  name="list"></slot>
         
      </div>
      
    </div>
  </div>
</div>