<script>
import dayjs from "dayjs";

  import Modal from "./Modal.svelte";

  export let visible = false;
  export let contacts = '';
  export let active_list = {};

  let separator = ';'

  function DownloadData() {

    if (contacts.length == 0) {
      return;
    }

    const header = ['name','phone','wa_phone'] 

    let content = contacts.map(item => {

      return header.map(col => {
          if(item[col])
        return item[col].toString().split('\n').join(' ');
        else return;
      }).join(separator)
    })



 
    content = content.join('\n').split('#').join()

    content = `name${separator}phone${separator}wa_phone\n`+content;
    //     console.log(csvFromArrayOfArrays)


    var encodedUri = encodeURI("data:text/csv;charset=utf-8," + content);


    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "form-" + active_list.title+'-'+dayjs().format('DD-MM-YYYY') + ".csv");
    document.body.appendChild(link); // Required for FF

    link.click();
    visible = false;


  }

</script>
<Modal modalTitle="Export CSV" {visible} on:close-modal={()=>{visible =
  false}}
  >
  <div>
    <label for="location" class="block text-sm font-medium text-gray-700">Separator</label>
    <select bind:value="{separator}" id="location" name="location" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <option value=";">(;) - titik koma</option> 
      <option value=",">(,) - koma</option>
    </select>
  </div>
  <button on:click={()=>{DownloadData()}} type="button"
    class="inline-flex items-center px-4 py-2 mt-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <!-- Heroicon name: solid/mail -->
   
    Download Kontak
  </button>

</Modal>
