<script>
    export let active_item;
    import { createEventDispatcher } from 'svelte';
    import {router} from "tinro"
const dispatch = createEventDispatcher();

    const active_class = "text-primary inline-flex space-x-1 justify-center items-center cursor-pointer select-none touch-ripple-primary relative z-10 relative w-full h-full duration-300 uppercase font-medium text-sm overflow-hidden z-10"
    const pasive_class = "text-black     inline-flex space-x-1 justify-center items-center cursor-pointer select-none touch-ripple-primary relative z-10 relative w-full h-full duration-300 uppercase font-medium text-sm overflow-hidden z-10 text-opacity-55"
    
     
</script>

<div class="w-full   pb-safe left-0 bottom-0 fixed   bg-white"                                                                                                       >
    <div
        class="absolute w-full h-full left-0 top-0 shadow-md bg-bars-material-light dark:bg-bars-material-dark transform rotate-180">
    </div>
    <div class="flex relative justify-between items-center w-full overflow-hidden h-14">
        <div on:click="{()=>{active_item = 0; router.goto("/")}}"
            class="{active_item == 0 ? active_class : pasive_class}">
            <div class="absolute left-0 top-0 w-full h-0.5 bg-primary duration-300 {active_item == 0 ? "opacity-100" : "opacity-0"}"></div>
            <div class="flex flex-col items-center h-full py-2">
                <div class="flex items-center justify-center w-6 h-6"><i class="relative inline-block not-italic"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
                  </svg></i></div>
                <div class="text-sm font-normal normal-case">List</div>
            </div>
        </div>
        <div on:click="{()=>{active_item = 1; router.goto("/campaigns")}}"
        class="{active_item == 1 ? active_class : pasive_class}">
            <div class="absolute left-0 top-0 w-full h-0.5 bg-primary duration-300 {active_item == 1 ? "opacity-100" : "opacity-0"}"></div>
            <div class="flex flex-col items-center h-full py-2">
                <div class="flex items-center justify-center w-6 h-6"><i class="relative inline-block not-italic"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                  </svg></i></div>
                <div class="text-sm font-normal normal-case">Campaign</div>
            </div>
        </div>
        <div on:click="{()=>{active_item = 2;router.goto("/settings")}}"
        class="{active_item == 2 ? active_class : pasive_class}">
            <div class="absolute left-0 top-0 w-full h-0.5 bg-primary duration-300 {active_item == 2 ? "opacity-100" : "opacity-0"}"></div>
            <div class="flex flex-col items-center h-full py-2">
                <div class="flex items-center justify-center w-6 h-6"><i class="relative inline-block not-italic">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                      </svg>
                </i></div>
                <div class="text-sm font-normal normal-case">Pengaturan</div>
            </div>
        </div>
    </div>
</div>