<script>
     const circumference = 60 * 2 * Math.PI;
    export let percentage = 0
</script>
<div   class="relative inline-flex items-center justify-center overflow-hidden rounded-full  ">
    <svg class="w-40 h-40">
      <circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="60" cx="80" cy="80" />
      <circle class="text-indigo-600" stroke-width="20" stroke-dasharray="{circumference}" stroke-dashoffset="{circumference - percentage / 100 * circumference}" stroke-linecap="round" stroke="currentColor" fill="transparent" r="60" cx="80" cy="80" />
    </svg>
    <span class="absolute text-xl text-indigo-700">{percentage}%</span>
  </div>