<script>
import {   onDestroy, onMount } from "svelte"

    export let seeds = []
    export let page_number = 25;
    export let items = []

    export let loading = true;
    export let scroll_id = "scroller";
    let page = 1;
    let Load = true;

    $:if(seeds)
    { 
      items = getItemsData();  
    }

    onMount(()=>{
      page = 1; 
      document.querySelector("#"+scroll_id).addEventListener('scroll',scrollDetector );
    })
  
    onDestroy(()=>{
        document.querySelector("#"+scroll_id).removeEventListener('scroll',scrollDetector );
    })
    
  function scrollDetector(event)
      {
          var element = event.target;
 
          if (element.scrollHeight - element.scrollTop - element.clientHeight < 100)
          {
           
            if(Load)
            {
              page++;
              items =  getItemsData()


              Load = false;
              setTimeout(()=>{
                Load = true;
                
              },500)
            }
            
          }
      }

      function getItemsData()
     {
      if(page == 1)
      {
        
        return seeds.slice(0,page_number);
      }else{
        return seeds.slice(0,page_number*page); 
      }
     
     }
</script> 
{#if loading}
  
{#each Array(20) as _, i}
<div class="{loading ? '' : 'hidden'} border-b border-gray-200 divide-y divide-gray-200       p-4 max-w-sm w-full mx-auto">
 <div class="animate-pulse flex justify-between space-x-4"> 
   <div class="h-3 bg-gray-300 rounded  space-y-4  w-3/5"></div> 
   <div class="h-3 bg-gray-300  space-y-2  rounded w-1/5"></div> 
 </div>
</div>
{/each}

{/if}
<div  > 
    <slot></slot>
</div>