<script>
  export let action;
  export let i;
  export let actions;
  let image_dataurl = ""
  let filename = ""
  import axios from "axios"
  import {
    v4
  } from 'uuid'
  import Modal from "../components/Modal.svelte";


  let visible = false;
  const spin = "{hola | halo}"


  function deleteAction() {
    actions.splice(i, 1)
    actions = actions;
  }

  import {
    FilePicker
  } from '@robingenz/capacitor-file-picker';

  const pickFiles = async () => {
    const result = await FilePicker.pickFiles({
      multiple: false,
    });
    if (result) {
      action.filename = result.files[0].name
      action.file = result.files[0].path;
      action.type = result.files[0].mimeType;
    }
    // alert(JSON.stringify(resu))
  };
</script>
<div class="relative my-3 flex">

  <div class="ml-3 flex justify-between w-full">
    <div>
      Pesan {i+1}
    </div>
    <button on:click="{deleteAction}" class="text-gray-500   placeholder:text-gray-300 pt-1"> <svg
        xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd" />
      </svg> </button>
  </div>
</div>

<textarea placeholder="tulis pesan disini" bind:value="{action.text}" rows="4"
  class="block w-full bg-gray-2000 text-gray-500 placeholder:text-gray-300  shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"></textarea>
<p class="text-sm text-gray-400">kamu bisa menambahkan tag contact dan spin text pada konten pesan. <span
    on:click="{()=>{visible = true}}" class="underline text-gray-600 cursor-pointer">selengkapya</span></p>


{#if action.file}
    <div class="sm:col-span-2 mt-2">
      <dt class="text-sm font-medium text-gray-500">
        Attachments
      </dt>
      <dd class="mt-1 text-sm text-gray-900">
        <ul   class="border border-gray-200 rounded-md divide-y divide-gray-200">
          <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
            <div class="w-0 flex-1 flex items-center">
              <!-- Heroicon name: solid/paper-clip -->
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2 flex-1 w-0 truncate">
                {action.filename}
              </span>
            </div>
            <div class="ml-4 flex-shrink-0">
              <button on:click="{()=>{ action.file = '';action.filename = ''}}" class="text-gray-500   placeholder:text-gray-300 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
              </svg>  </button>
            </div>
          </li>
 
        </ul>
      </dd>
    </div>
    {:else}
    <button on:click="{pickFiles}" class="btn btn-secondary mt-3"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
    </svg> <span class="ml-2">Upload File</span></button> 
   
    {/if}
    

    <Modal bind:visible={visible}
modalTitle="Petunjuk Pengisian Konten Pesan"
on:close-modal="{()=>{visible = false}}"
 >
 <div class="mt-2 max-w-xl text-sm text-gray-500 placeholder:text-gray-300 pt-3">
    <p>
      1. Spin Text
    </p>
    <p>
      spin text adalah cara membuat pesan random dari pilihan tertentu. contoh : kalau kamu ketik <strong>{spin}</strong>, maka akan dipilih secara random antara hola atau halo. 
    </p>
    <br>
    <p>
      2. Tag Name
    </p>
    <p>
      untuk memanggil pelanggan kita, kita bisa menggunakan sapaan berupa tag [name]. contoh : <strong>Halo [name]</strong>, jika nama pada kontak adalah Abdullah. maka  akan tergenerate <strong>Halo Abdullah</strong>
    </p>
    <br>
    <p>
      3. Custom Tag
    </p>
    <p>
      kamu bisa mengupload list kontak dari csv dengan header tambahan seperti jumlah_tagihan, atau masa_berlaku. header tambahan ini bisa ditambahkan jadi custom tag. contoh : <strong>jumlah tagihan kamu bulan ini adalah [jumlah_tagihan]</strong>.
    </p>
  </div> 
</Modal>