<script  >
    import { createEventDispatcher } from "svelte";
    import { fade } from "svelte/transition"; 
 
    const dispatchEvent = createEventDispatcher();
  
    export let modalTitle = "Modal";
    export let visible = false; 
    export let styleSheet = "width : 600px"; 
  
    export let closeModal = () => {
      dispatchEvent("close-modal"); 
    };
  
    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") { 
        dispatchEvent("close-modal"); 
        
      }
    });
  </script>
  
  {#if visible} 
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div transition:fade={{ duration: 100 }} class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
        Background overlay, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div on:click={() => closeModal()} class="fixed has-pointer-event inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden has-pointer-event sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
      <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div style="{styleSheet}"  class="has-pointer-event  inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle  w-full sm:p-6"  >
        <div class="  absolute top-0 right-0 pt-4 pr-4">
          <button on:click={() => closeModal()} type="button" class="has-pointer-event bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="sr-only">Close</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="has-pointer-event ">
        
          <div class="mt-3  sm:mt-0   text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              {modalTitle}
            </h3>
            <div class="mt-2">
              <slot />
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
   
  {/if}
  
   