<script>
    export let visible = false;
</script>
{#if visible}
    

    <div on:click="{()=>{visible = false}}" class="fixed has-pointer-event z-50 w-full h-full left-0 top-0 bg-black bg-opacity-50 duration-400"></div>
<div
    class="left-0 top-full transition-transform duration-400 z-50 overflow-hidden bg-white dark:bg-black fixed shadow-2xl -translate-y-full pb-safe">
    <div class="w-full z-20 relative">
        <div class="absolute w-full h-full left-0 top-0 shadow-md bg-bars-material-light dark:bg-bars-material-dark">
        </div>
        <div  class="flex px-5 relative justify-between items-center w-full overflow-hidden pl-2-safe pr-2-safe h-12">
            <div class="left"></div>
            <div class="right"> 
                Tutup
            </div>
        </div>
    </div>
    <div class="text-sm z-50 relative pl-4-safe pr-4-safe my-8 px-5">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ad excepturi nesciunt nobis aliquam.
            Quibusdam ducimus neque necessitatibus, molestias cupiditate velit nihil alias incidunt, excepturi
            voluptatem dolore itaque sapiente dolores!</p>
        
    </div>
</div>
{/if}