<script>
	import SendingMeter from './components/SendingMeter.svelte';
 
  import ListCampaign from './pages/ListCampaign.svelte';
import FooterNavbar from './components/FooterNavbar.svelte';
import Setting from './pages/Setting.svelte'; 
import {Route} from "tinro"
import Lists from './pages/Lists.svelte';
import Contact from './pages/Contact.svelte';
import CreateCampaign from './pages/CreateCampaign.svelte';
import DetailCampaign from './pages/DetailCampaign.svelte';  
import Grabb from './pages/Grabb.svelte';

 

  let active_item = 0;

  if(location.pathname.includes("/campaigns"))
  {
    active_item = 1;
  }
  if(location.pathname.includes("/settings"))
  {
    active_item = 2;
  }
   
  
</script>
<main>
  <div class="swipe-holder h-screen  pt-16">
    <div class="w-full   pb-safe left-0 top-0 fixed">
      <div class="navbar   top-0 mb-2 shadow-lg bg-primary text-neutral-content ">
        <div class="flex-none">
  
        </div>
        <div class="flex-1 px-2 mx-2">
          <span class="text-xl font-bold">
            <img src="https://app.maxgrabb.com/img/logo_white.png" alt="">
          </span>
        </div>
        <div class="flex-none">
  
        </div>
      </div>
    </div>

    
   <div id="scroller" class="overflow-y-auto" style="height: calc(100vh - 122px);">
      <SendingMeter></SendingMeter>
      <Route path="/"><Lists></Lists></Route>
      <Route path="/lists/:list_id" ><Contact></Contact></Route>
      <Route path="/lists/:list_id/grabb" ><Grabb></Grabb></Route>
      <Route path="/campaigns" ><ListCampaign></ListCampaign></Route> 
      <Route path="/campaigns/detail/:campaign_id" ><DetailCampaign></DetailCampaign></Route>
      <Route path="/campaigns/create" ><CreateCampaign></CreateCampaign></Route> 
      <Route path="/campaigns/edit/:campaign_id" ><CreateCampaign></CreateCampaign></Route> 
      <Route path="/campaigns/reuse/:campaign_id" ><CreateCampaign></CreateCampaign></Route> 
      <Route path="/settings" ><Setting></Setting></Route> 
     
   </div>
      
    <FooterNavbar   bind:active_item></FooterNavbar>
  </div>
</main>

<style global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

 
</style>